h3
{
font-size:25px !important;
}
.btn-success:hover
{
background-color: darkorchid;    
}
canvas
{
animation-name:ranbow_panda;
animation-duration:4s;
animation-iteration-count: infinite;
}
@keyframes ranbow_panda
{
from{box-shadow: 1px 1px 38px turquoise;}
to{box-shadow: 1px 1px 38px rgb(165, 0, 248);}
}